@import "colors";

.home {
  .container {
    height: calc(100vh - 9rem);
    display: flex;
    justify-content: center;
    align-items: center;

    &__area-1,
    &__area-2 {
      height: 70vh;
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__link-1,
    &__link-2 {
      font-size: 1.1rem;
      position: absolute;
      color: white;
      background-color: black;
      font-weight: bold;
      padding: 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &__link-2 {
      color: black;
      background-color: white;
    }

    &__link-1:hover,
    &__link-2:hover {
      border: solid 2px $accent;
    }
    &__area-1 {
      background-color: $light-gray;
    }

    &__area-2 {
      background-color: $dark-gray;
    }

    &__img-1 {
      height: 22rem;
    }

    &__img-2 {
      height: 13rem;
    }
  }
}
