@import "colors";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  .logo {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;

    &__accent {
      color: $accent;
    }
  }

  .options {
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    gap: 1rem;
    display: flex;
    align-items: center;

    .components {
      position: relative;

      &__menu {
        position: absolute;
        border: solid 2px black;
        padding: 0.5rem;
      }

      &__menu-item {
        cursor: pointer;
      }

      &__menu-item:hover {
        color: $accent;
      }

      &__link:hover {
        color: $accent;
      }
    }

    &__components {
      display: flex;
      align-items: center;
    }

    &__icon {
      height: 2rem;
      cursor: pointer;
    }

    &__builds:hover {
      color: $accent;
    }

    &__other:hover {
      color: $accent;
    }

    .triangle {
      height: 2rem;
      margin-left: -0.2rem;
      margin-right: -0.4rem;
    }
  }
}
