@import "colors";

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 4rem;
  width: 20rem;
  background-color: $light-gray;
  position: relative;

  &__name {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: -0.5rem;
  }

  &__price {
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 15rem;
    width: 18rem;
  }

  &__img {
    height: 14rem;
    width: 14rem;
    object-fit: cover;
  }
}
