table {
  max-width: 1400px;
  width: 100%;
  text-align: left;
  vertical-align: middle;
  border-collapse:collapse;
  font-size: 1rem;
  background-color: white; 
}

thead, tfoot {
  border-bottom:  #F7F7F7 solid 15px;
  border-top:  #F7F7F7 solid 15px;
}

thead tr,
tbody tr,
tfoot tr {
  width: 100%;
  justify-content: space-between;
}

tbody {
  tr {
  border-bottom:  #F7F7F7 solid 4px;
  }
}

th, td {
  // size of each row in the table 
  padding: 25px; 
}

.remove-icon {
  color:  rgb(141, 141, 141);
  text-align: right;
  &:hover{
    color:  rgb(68, 68, 68);
    cursor: pointer;
  }
}